body {
    font-family: Arial, sans-serif;
    font-size: 18px;
}

/* i added background color to my header and footer */
#main-page-header, footer {
    background-color: rgb(0, 255, 72);
}

/* i added color to my header with .site-title */
.site-title {
    color: purple;
}

/* i added box shadow to my picture */
#Ibraheem {
    box-shadow: 0 0 2px 1px black;
}

/* added a hobby-list tag in html to link to the nth-child */
.hobby-list li:nth-child(odd) {
    background-color: gray;
}

/* i used this to change my navigation bullet to square */
ul {
    list-style-type: none;
}

.no-underline {
        text-decoration: none;
}

a {
    background-color: greenyellow;
    border: 1px solid blue;
}

a:hover {
    background-color: red;
}