/* Reset default margin and padding */
body, h1, p {
    margin: 10PX;
    padding: 0;
    background-image: url(../image/rtw-model-1.jpg)  ;
    background-size: cover;
}

/* Set background color */
body {
    font-family: Arial, Helvetica, sans-serif
}

/* Navigation bar styles */
nav {
    color: #fff;
    padding: 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 60px;
}

/* Main content styles */
main {
    max-width: 1500px;
    margin: 0 auto;
    padding: 1px;
}

h1 {
    font-size: 30px;
    margin-bottom: 1px;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

/* Contact form styles */
form {
    margin-top: 1px;
}

label {
    display: block;
    margin-bottom: 1px;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 1px;
    margin-bottom: 1px;
}

input[type="radio"] {
    margin-right: 0px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0px 0px;
    cursor: pointer;
}